:root {
  --light: rgb(244, 244, 255);
  --background: rgb(253, 250, 255);
  --unactive: rgb(245, 245, 245);
  --medium: rgb(204, 205, 219);
}

* {
  font-family: "Montserrat";
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.card-wrapper {
  position: relative;
  width: 100vw;
  height: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 14rem;
}

.card-wrapper > div {
  position: absolute;
}

.card-notactive1 {
  top: 80px;
  background-color: var(--unactive);
  width: 39rem;
  height: 20rem;
  z-index: 3;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  display: grid;
  grid-template-rows: 3rem 12rem max-content;
  opacity: 70%;
}

.card-notactive2 {
  top: 90px;
  background-color: var(--unactive);
  width: 38rem;
  height: 20rem;
  z-index: 2;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  display: grid;
  grid-template-rows: 3rem 12rem max-content;
  opacity: 30%;
}

.active-card {
  position: absolute;
  top: 70px;
  background-color: var(--light);
  width: 40rem;
  height: 20rem;
  z-index: 4;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
  display: grid;
  grid-template-rows: 3rem 12rem max-content;
}

.title {
  text-align: center;
  margin-top: 3rem;
  font-weight: 400;
  font-size: xx-large;
}

.input {
  position: relative;
  border: none;
  border-radius: 10px;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 26px;
  width: 99%;
  padding: 5px;
  box-shadow: 0px 0px 0px 2px var(--background);
}
.input:focus {
  outline: 1px solid var(--medium);
}

.todo {
  display: flex;
  padding: 10px;
  font-size: 25px;
  font-weight: 100;
  border: 1px solid var(--medium);
  border-radius: 10px;
}

.status {
  margin: 2px;
}

.text {
  margin: 2px;
  margin-left: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.list {
  display: block;
  height: 14rem;
  overflow-y: scroll;
  border-bottom: 1px solid var(--medium);
}

.counter {
  cursor: default;
}

.switch {
  margin-left: 6rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
}

div.switch > a {
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.active {
  padding: 2px;
  border: 1px solid var(--medium);
}

.clear {
  cursor: pointer;
}
